<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="lib/w3.css">
	<link rel="stylesheet" href="lib/font-awesome.css">
	<link rel="stylesheet" href="styles/styles.css">
	<link rel="stylesheet" href="lib/colorThemes/w3-theme-light-blue.css">
    <title>Home</title>
</head>
<body>
    <div class="w3-container">
        <img src="pics/logo_1.png" alt="WHO Logo">
    </div>
</body>
</html>